Binaries
DerivedDataCache
Intermediate
Saved
Content/WinterTown
Plugins/QuadSimPlugin/Intermediate
Plugins/QuadSimPlugin/Binaries
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
